### React ###
# Node.js
node_modules/
/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js
.DS_Store

# Dependency directories
bower_components/

# Production build
build/
/build

# Logs
logs
*.log

# Testing
coverage/
/coverage
*.lcov

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Parcel-bundler cache (if using Parcel)
.cache/

# Next.js (if using Next.js)
.next/
out/

# Gatsby files
.cache/

# Static site generators
output/

# Storybook
storybook-static/

# Ignore all dist and out folders
dist/
out/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Java IDEs (STS, Eclipse) ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### Gradle ###
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
